<!DOCTYPE html>
<html>

<head>
    <base target="_parent" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/player.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jtube.js"></script>
    <script type="text/javascript" src="/javascripts/youtube.js"></script>
    <!-- <script type="text/javascript" src="/javascripts/dailymotion.js"></script> -->
    <title>{{title}} | Embedded Player</title>
</head>

<body>
    {{{body}}}
</body>

</html>