body {
    background-color: #f0f0f0;
    -webkit-font-smoothing: antialiased;
    color: #333;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

a:link {
    color: #428bca;
}

/* visited link */
a:visited {
    color: #487296;
}

/* mouse over link */
a:hover {
    color: #487296;
}

/* selected link */
a:active {
    color: #487296;
}

.navbar-brand {
    padding: 9px;
}

.navbar-default .navbar-nav>li>a {
    text-transform: capitalize;
    transition: 0.3s;
    font-weight: 700;
    font-size: 20px;
    font-family: "Roboto Condensed","Open Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

.navbar-default .navbar-nav>li {
    transition: 0.3s;
}

.navbar-default .navbar-nav>li:hover {
    background-color: #004485;
} 

.navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
}

#advertiser-space {
    overflow: hidden;
    display: flex;
    margin-top: 60px;
    width: 100%;
    background-color: #000;
}

#advertiser-ad {
    margin: 0 auto;
}

#ad-bg {
    width: 100%;
}

#main-bg {
    background: #f0f0f0;
    background-image: url('http://hw-img.datpiff.com/m62548cb/skin.jpg');
    background-attachment: fixed;
    background-position: 49% 0;
}

#center-container {
    border: 1px solid #d9d9d9;
    background-color: white;
}

.feature-header {
    font-size: 30px;
    font-weight: 700;
    font-family: Oswald,sans;
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
    color: #000;
}

.featured-image {
    position: relative;
    margin: 0 auto;
    cursor: pointer;
}

.featured-image img {
    width: 938px;
    height: 355px;
    border-radius: 5px;
}

.featured-button {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('../images/button.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.date-header {
    font-family: Oswald,sans;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    background: #2c3e50;
    color: #FFF;
    padding: 10px;
    margin-top: 20px;
}

.videos {
    width: 100%;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.video {
    position: relative;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin: 10px 5px;
}

.video > a > p {
    margin-bottom: 0;
    margin-top: 5px;
    font-weight: 600;
}

.video img {
    border-radius: 5px;
    width: 300px;
    height: 170px;
}

.video-views {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    font-family: oswald;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.4);
    padding: 0 4px;
}

.titulo {
    border-radius: 0 0 5px 5px;
    padding-bottom: 10px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}

.titulo > h3 {
    font-weight: 600;
    color: white;
    
}

.showmore {
  padding: 5px;
  text-transform: uppercase;
  border: 1px solid #d3d3d3;
  font-weight: 600;
  font-size: 23px;
  margin: 24px auto;
  color: #333;
  max-width: 145px;
  text-align: center;
  font-family: Oswald,sans;
  vertical-align: baseline;
  cursor: pointer;
  background-image: linear-gradient(to top,#E7E7E7 0,#FAFAFA 100%);
}

.showmore > p {
    margin: 0;
}

.post-title {
    font-weight: 600;
    font-family: oswald, sans-serif;
    text-transform: capitalize;
}

.sidebar {
    width: 300px;
    height: 400px;
    float: right;
}

#video {
    margin-bottom: 10px;
}

.nav-tabs > li {
    font-family: oswald;
    font-size: 20px;
}

.nav-tabs > .views {
    float: right;
    text-transform: uppercase;
    margin-top: 7px;
}

.tab-pane {
    padding: 10px;
}

@media only screen and (min-width : 1201px) {
    .container {
        width: 970px;
    }
    article {
        width: 620px;
        float: left;
    }
}

@media only screen and (max-width : 1200px) {
   .container {
       width: 970px;
   }
   article {
       width: 620px;
       float: left;
   }
}

@media only screen and (max-width : 992px) {
   .container {
       width: 100%;
   }
   article {
       width: 100%;
   }
}

@media only screen and (max-width : 767px) {
   article {
       width: 100%;
   }
}

@media only screen and (max-width : 480px) {
    article {
        width: 100%;
    }
}